@use '@/styles/abstracts' as *;

.flex {
  display: flex;
  align-items: center;
  gap: $space-sm;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $space-sm;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
