@use '@/styles/abstracts' as *;

.navbar {
  @include flex(row, center, flex-end, $space-lg);
}

.list {
  @include flex(row, center, center, $space-lg);

  @include mobile {
    display: none;
  }
}

.cta {
  padding: 0.65rem 1.5rem;
}

.link {
  font-size: $fs-sm;
  font-weight: $fw-medium;
  color: $color-text-secondary;
  transition: color $transition-fast;

  &:hover {
    color: $color-text-primary;
  }
}

.active {
  color: $color-brand-primary;
}
